.settings/
.vs/
.vscode/
obj/
/.github/
/.work/
/examples/
/src/
/test/
/tools/
*.aps
*.user
.editorconfig
.eslintignore
.gitignore
.gitmodules
.gitattributes
.npmignore
.prettierignore
.prettierrc.yml
.tool-versions
npm-debug.log
eslint.config.mjs
yarn.lock
yarn-error.log
jest.config.mjs
jest.config.*.mjs
tsconfig.json
tsconfig.*.json
